<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/a3a9009bbc.js" crossorigin="anonymous"></script>
    <title>{{ name }}</title>
    <style>
        nav {
            min-height: 8vh;
        }
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            background-color: #cfd8dc;
        }
        /* center footer image */
        .flex-container{
            display: flex;
        }
        .center-image {
            display: flex;
            justify-content: right; /* align horizontal */
            align-items: center; /* align vertical */
        }
        main {
            flex: 1 0 auto;
        }
    </style>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue-grey darken-3">
                <div class="container">
                    <a href="#" class="brand-logo">{{ name }}</a>
                    <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="index.html">Overview</a></li>
                        <li><a href="links.html">Links</a></li>
                    </ul> -->
                </div>
            </div>
        </nav>
    </div>

    <main> 
      {% for sem in semesters %}  
        <section>
            <div class="container">
                <div class="row s12">
                    <h4>{{ sem }}</h4>
                </div>

                <div class="row">
                  {% for course in semesters[sem] %}
                    <div class="col s12 l6">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title truncate">{{ course }}</span>
                            </div>
                            <div class="card-action">
                                <a href="https://gitlab.com/{{ base_group | upper }}/{{ semesters[sem][course].slug}}" target="_blank" 
                                    class="waves-effect waves-light btn deep-orange darken-2"><i
                                        class="fab fa-gitlab left"></i>Repo</a>
                                <a href="https://{{ base_group | lower }}.gitlab.io/{{ semesters[sem][course].slug}}" target="_blank"
                                    class="waves-effect waves-light btn deep-orange darken-2 right valign-wrapper"><i
                                        class="fab fa-gitlab left"></i>Planer</a>
                            </div>
                        </div>
                    </div>  
                  {% endfor %}               
                </div>
        </section>
      {% endfor %}
    </main>

    <footer class="page-footer blue-grey darken-3">
        <div class="container">
            <div class="row flex-container" >
                <div class="col l6 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        {% for link in links %}
                          <li><a class="grey-text text-lighten-3" href="{{ links[link].url }}">{{ link }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col l4 s12 offset-l2 center-image">
                        <img class="responsive-img" src="images/UCL_horisontal_logo_UK_neg_rgb.png" width="200">
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
